* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

::selection {
  background-color: var(--color-accent-2);
}

/* COLOR PALETTE */

:root {
  --color-primary: rgb(14, 11, 167);
  --color-secondary: rgb(255, 187, 170);
  --color-accent: rgb(240, 73, 8);
  --color-accent-2: rgb(253, 194, 0);
  --color-body: rgb(22, 21, 21);
  --color-link: rgb(250, 250, 236);
}

/* TYPOGRAPHY */

html {
  font-size: 62.5%;
}

body {
  font-size: 2rem;
  font-family: "Alegreya Sans", sans-serif;
  font-weight: 600;
  color: var(--color-body);
}

h1,
h2,
h3,
h4 {
  margin: 1.5rem 0;
}

h2,
h3,
h4 {
  font-family: "Oswald", sans-serif;
}

h1 {
  font-size: 5rem;
  font-family: "Noto Sans Ethiopic", sans-serif;
  text-shadow: 0 0 2rem black;
  font-weight: 700;
  text-transform: uppercase;
}

h2 {
  font-size: 4rem;
  text-transform: uppercase;
}

h3 {
  font-size: 2.5rem;
}

h4 {
  font-size: 2.4rem;
}

h5 {
  font-size: 2.3rem;
}

/* LOADER */

.loader {
  position: fixed;
  background-color: #fff;
  width: 100%;
  height: 100vh;
  z-index: 1010;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.loading__gif {
  width: 100px;
}

/* LINKS */

a {
  text-decoration: none;
}

.text--link {
  font-size: 1.5rem;
  font-family: "Ubuntu", sans-serif;
  color: var(--color-body);
  font-weight: 600;
  transition: 0.3s ease-out;
}

.text--link:hover {
  color: var(--color-accent);
}

/* BUTTONS */

.btn {
  border: 0;
  outline: 0;
  padding: 1rem 3rem;
  border-radius: 50px;
  font-family: "Merriweather Sans", sans-serif;
  font-weight: 600;
  cursor: pointer;
  transition: 0.3s ease-out;
  box-shadow: 0 0 12px #000;
}

@media screen and (min-width: 768px) {
  .btn {
    padding: 2rem 4rem;
  }
}

.btn--orange {
  background-color: var(--color-accent);
  color: var(--color-link);
  font-size: 2.5rem;
}

.btn--orange:hover {
  background-color: rgb(212, 64, 6);
}

.btn--blue {
  background-color: var(--color-primary);
  color: #fff;
}

.btn--blue:hover {
  background-color: rgb(8, 6, 126);
}

.btn--yellow {
  background-color: var(--color-accent-2);
  color: var(--color-body);
  text-align: center;
}

.btn--yellow:hover {
  background-color: rgb(221, 172, 10);
}

.btn--plus {
  padding: 0.5rem;
  font-size: 1.5rem;
  width: 30px;
}

.btn--plus:hover {
  background-color: var(--color-accent-2);
}

.btn--small {
  padding: 1rem 2rem;
  font-size: 1.8rem;
  font-weight: 600;
}

/* GRIDS */

.grid {
  display: grid;
}

@media screen and (min-width: 768px) {
  .grid--2x2 {
    grid-template-areas:
      "1 2"
      "3 4";
  }

  .grid--3x3 {
    grid-template-areas:
      "1 2 3"
      "4 5 6";
  }

  .grid--1x3 {
    grid-template-columns: repeat(3, 1fr);
    gap: 0 3rem;
  }

  .grid--1x2 {
    grid-template-columns: repeat(2, 1fr);
  }

  .grid--1x4 {
    grid-template-columns: repeat(4, 1fr);
  }
}

/* BLOCKS */

.block {
  padding: 5rem 2rem;
}

.block--dark {
  background-color: #000;
  color: #fff;
}

.block--dark h2,
.block--dark h3 {
  text-shadow: 0 0 10px var(--color-accent);
}

.block--skewed-right {
  clip-path: polygon(100% 100%, 0% 90%, 0% 0%, 100% 0%);
}

.container {
  max-width: 1440px;
  margin: 0 auto;
}

.wrapper {
  display: flex;
}

/* BACKGROUND */

.bg--pink {
  background-color: var(--color-secondary);
}

.bg--orange {
  background-color: var(--color-accent-2);
}

/** HOME **/

/* NAVIGATION */

.nav__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
  width: 100%;
}

.header__logo {
  width: 100px;
}

.nav-bar {
  width: 100%;
  height: 10vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--color-primary);
  border-bottom: 3px solid var(--color-accent);
  padding: 20px;
  position: sticky;
  top: 0;
  z-index: 999;
}

.nav__lists {
  display: none;
  justify-content: space-around;
  align-items: center;
}

.nav__list {
  list-style-type: none;
  position: relative;
  padding: 0rem 1rem;
}

.nav__list:hover ul {
  display: block;
  max-height: 100vh;
  top: 80px;
  opacity: 1;
}

.nav__lists a {
  font-size: 2.2rem;
  color: var(--color-link);
  font-family: "Noto Sans Ethiopic", sans-serif;
  font-weight: 600;
  padding: 2rem 3rem;
  transition: 0.3s ease-in;
}

.nav__lists a:hover {
  background-color: var(--color-body);
  border-radius: 100px;
}

.nav__lists ul {
  position: absolute;
  top: 50px;
  text-align: center;
  background-color: var(--color-accent);
  border-radius: 5px;
  box-shadow: 0 0 20px black;
  max-height: 0vh;
  overflow: hidden;
  transition: 0.3s ease-in;
  opacity: 0;
}

.nav__lists ul li {
  list-style-type: none;
  padding: 3rem 0.5rem;
}

.dropdown {
  margin-left: 1rem;
  transform: rotate(-180deg);
  transition: 0.3s ease;
}

.nav__list:hover .dropdown {
  transform: rotate(0);
}

.nav__overlay {
  width: 100%;
  height: 100vh;
  position: fixed;
  bottom: 0;
  left: 0;
  background-color: rgb(14, 11, 167, 0.95);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  z-index: 1000;
  max-height: 0vh;
  overflow-y: scroll;
  transition: 0.1s ease-in-out;
}

.nav__overlay.active {
  max-height: 100vh;
}

.overlay__logo {
  width: 80px;
  margin-bottom: 2rem;
}

.overlay__lists {
  text-align: center;
}

.overlay__list {
  list-style-type: none;
  padding: 1rem 0;
}

.overlay__lists a,
.overlay__list {
  font-size: 1.8rem;
  font-family: "Noto Sans Ethiopic", sans-serif;
  color: var(--color-link);
  font-weight: 600;
  cursor: pointer;
}

.overlay__lists ul {
  max-height: 0vh;
  overflow: hidden;
  transition: 0.5s ease-in-out;
}

.overlay__list ul.active {
  max-height: 100vh;
}

.overlay__dropdown {
  transform: rotate(-180deg);
  transition: 0.1s ease;
  margin-left: 2rem;
}

.overlay__dropdown.active {
  transform: rotate(0);
}

.overlay__close {
  font-size: 4rem;
  color: var(--color-link);
  cursor: pointer;
}

.hamburger__menu {
  padding: 15px;
  cursor: pointer;
}

.hamburger__menu:hover .hamburger__bar,
.hamburger__menu:hover .hamburger__bar::before,
.hamburger__menu:hover .hamburger__bar::after {
  background-color: var(--color-link);
}

.hamburger__bar {
  display: block;
  background-color: #fff;
  width: 25px;
  height: 3px;
  border-radius: 50px;
  position: relative;
  transition: 0.3s ease-out;
}

.hamburger__bar::before,
.hamburger__bar::after {
  content: "";
  width: 25px;
  height: 3px;
  background-color: #fff;
  display: block;
  position: absolute;
  border-radius: 50px;
  transition: 0.3s ease-out;
}

.hamburger__bar::before {
  top: -10px;
}

.hamburger__bar::after {
  top: 10px;
}

.cart i {
  color: #fff;
  font-size: 2rem;
  transition: 0.2s ease-out;
}

.cart i:hover {
  color: var(--color-link);
}

@media (orientation: landscape) {
  .nav__overlay {
    flex-direction: row;
    gap: 0 4rem;
  }
}

@media screen and (min-width: 768px) {
  .nav-bar {
    justify-content: space-around;
  }

  .nav__lists {
    display: flex;
  }

  .hamburger__menu {
    display: none;
  }

  .overlay__logo {
    width: 200px;
  }

  .overlay__lists a,
  .overlay__list {
    font-size: 4rem;
  }
}

/* HERO */

.hero {
  overflow: hidden;
  padding-top: 2rem;
}

.hero__content {
  align-self: flex-start;
  width: 250px;
}

.hero__content h1 {
  font-size: 4rem;
}

.hero__content button {
  margin-top: 3rem;
}

.hero__image {
  transform: scale(1.3);
  z-index: -1;
}

@media screen and (min-width: 768px) {
  .hero {
    padding: 10rem 2rem;
  }
}

@media screen and (min-width: 1024px) {
  .hero__content {
    margin-left: 5rem;
    width: auto;
  }
}

/* FEATURES-1 */

.features-1 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.features__images-1 {
  max-width: 500px;
  text-align: center;
}

.features__images-1 img {
  width: 100%;
  border-radius: 20px;
  cursor: pointer;
  margin: 3rem 0;
  object-fit: cover;
}

.features__btn-1 {
  margin-top: 5rem;
}

@media screen and (min-width: 768px) {
  .features__images-1 {
    max-width: 1500px;
  }
}

/* SELECTION */

.selection {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
}

.selection__images {
  max-width: 500px;
  gap: 3rem;
}

.selection__images img {
  width: 100%;
  border-radius: 20px;
}

.selection__btn {
  margin-top: 5rem;
}

.selection__heading {
  margin-bottom: 5rem;
}

@media screen and (min-width: 768px) {
  .selection__images {
    max-width: 1500px;
  }
}

/** MENU **/

/* SELECTION-2 HEADER */

.selection-2__header {
  background: url(images/Photoshop\ Images/Banners/menu-header.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 55vh;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.selection-2__heading {
  background-color: var(--color-accent-2);
  display: inline-block;
  padding: 2rem 3rem;
  text-shadow: none;
}

/* SELECTION-2 */

.selection-2 {
  display: flex;
  justify-content: center;
  align-items: center;
}

.selection-2__container {
  gap: 2rem;
}

.selection-2__box {
  max-width: 600px;
  max-height: 600px;
  cursor: pointer;
  overflow: hidden;
  border-radius: 50px;
  border: 3px solid var(--color-accent);
  background-color: var(--color-accent);
}

.selection-2__image:hover img {
  transform: scale(1.1);
}

.selection-2__image img {
  width: 100%;
  transition: 0.3s;
}

.selection-2__content {
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--color-body);
  text-align: center;
}

@media screen and (min-width: 768px) {
  .selection-2__container {
    grid-template-areas:
      "1 2"
      "3 4"
      "5 6";
  }
}

/* FEATURES-2 */

.fries-banner {
  background: linear-gradient(to bottom, rgb(253, 194, 0, 0.2), transparent),
    url(images/Photoshop\ Images/Banners/fries-banner.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.features-2__heading {
  text-align: center;
}

.features-2__container {
  margin-top: 10rem;
}

.features-2__box {
  margin: 2rem 0;
}

.features-2__image {
  max-width: 800px;
  background-color: var(--color-accent);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-radius: 20px 20px 0 0;
  overflow: hidden;
}

.features-2__image img {
  width: 100%;
  max-height: 500px;
  height: 100%;
  object-fit: cover;
}

.features-2__content {
  justify-content: center;
  align-self: center;
  background-color: var(--color-accent-2);
  padding: 10rem;
  transform: translateX(0);
  color: var(--color-body);
  border-radius: 0 0 20px 20px;
}

@media screen and (min-width: 768px) {
  .features-2__image {
    border-radius: 20px;
  }

  .features-2__content {
    transform: translateX(-30px);
    border-radius: 20px;
  }

  .features-2__box:nth-child(even) .features-2__image {
    order: 2;
  }
}

@media screen and (max-width: 1300px) {
  .features-2__content {
    padding: 5rem;
  }
}

@media screen and (min-width: 1301px) {
  .features-2__content {
    padding: 10rem;
  }
}

/** STORY **/

/* STORY HEADER */

.story__header {
  background: url(images/Photoshop\ Images/Banners/story-header.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  background-position: center;
}

.story__content {
  width: 100%;
  background-color: var(--color-accent);
  color: #fff;
  padding: 3rem;
  border-radius: 20px;
}

@media screen and (min-width: 1024px) {
  .story__header {
    justify-content: flex-end;
    align-items: flex-start;
  }

  .story__content {
    margin-right: 50px;
    max-width: 600px;
    padding: 8rem;
    border-radius: 0 20px;
  }
}

@media screen and (min-width: 1400px) {
  .story__header {
    padding-bottom: 50rem;
  }

  .story__content {
    margin-right: 100px;
  }
}

/* BANNER */

.banner {
  gap: 0 10rem;
}

.banner__image img {
  width: 100%;
  border-radius: 20px;
}

.banner__heading {
  align-self: center;
}

@media screen and (min-width: 1400px) {
  .banner {
    margin-top: -340px;
  }
}

/* STORYLINE */

.storyline__heading {
  text-align: center;
}

.storyline__container {
  gap: 4rem;
}

.storyline__line {
  background-color: #aaa;
  width: 100%;
  height: 2px;
  display: block;
  margin: 3rem 0;
}

.storyline__date {
  transform: translateX(10px);
}

.storyline__image img {
  width: 100%;
  border-radius: 30px;
}

.storyline__content {
  margin-top: 3rem;
}

@media screen and (min-width: 768px) {
  .storyline__contaner {
    grid-template-areas:
      "1 2"
      "3 4";
  }
}

@media screen and (min-width: 1300px) {
  .storyline__container {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

/** STORES SECTION **/

/* STORES */

.map {
  text-align: center;
}

.map iframe {
  width: 100%;
}

.stores__container {
  max-width: 500px;
  max-height: 400px;
  overflow-y: scroll;
  margin-bottom: 5rem;
  border-top: 2px solid var(--color-primary);
  border-bottom: 2px solid var(--color-primary);
  justify-self: center;
}

.stores__box {
  border: 2px solid var(--color-accent);
  border-radius: 20px;
  max-width: 450px;
  padding: 2rem;
  margin: 2rem 0;
}

.stores__btn {
  margin: 0.7rem 1rem;
}

.stores__locator {
  background-color: var(--color-accent-2);
  border-radius: 20px;
  max-width: 700px;
  margin: 5rem auto 0;
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.locator__heading {
  text-align: center;
}

.stores__input {
  border: 0;
  max-width: 200px;
  width: 100%;
  padding: 1rem 2rem;
  margin: 1rem 0;
  border: 0;
  outline: 0;
  background-color: var(--color-link);
  border-radius: 50px;
}

@media screen and (min-width: 768px) {
  .stores__wrapper {
    display: flex;
  }

  .stores__input {
    max-width: 300px;
  }
}

/** CART SECTION **/

/* CART SELECTION */

.menu__dropdown-tab {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1rem;
  background-color: var(--color-accent-2);
  cursor: pointer;
}

.menu__dropdown {
  transform: rotate(180deg);
  transition: 0.3s ease-in;
}

.menu__dropdown.active {
  transform: rotate(360deg);
}

.cart-selection__container {
  background-color: var(--color-secondary);
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  max-height: 0vh;
  overflow: hidden;
  transition: 0.4s ease-out;
  position: sticky;
  top: 90px;
  left: 0;
  height: auto;
  overflow-y: scroll;
  padding-bottom: 0;
}

.cart-selection__container::-webkit-scrollbar {
  width: 20px;
}

.cart-selection__container::-webkit-scrollbar-track {
  background: rgb(228, 136, 136);
}

.cart-selection__container::-webkit-scrollbar-thumb {
  background-color: var(--color-accent);
  border-radius: 20px;
  border: 5px solid rgb(199, 60, 6);
}

.cart-selection__container::-webkit-scrollbar-thumb:hover {
  background-color: var(--color-secondary);
}

.cart-selection__container.active {
  max-height: 100vh;
}

.cart-selection__box {
  justify-items: center;
  align-content: center;
  padding: 1rem;
  width: 150px;
}

.cart-selection__box:hover {
  background-color: rgb(223, 171, 158);
}

.cart-selection__image img {
  width: 100px;
  height: 100px;
  object-fit: cover;
  border-radius: 100%;
  border: 2px solid var(--color-accent);
}

.cart-selection__title {
  color: var(--color-body);
}

@media screen and (min-width: 1024px) {
  .menu__dropdown-tab {
    display: none;
  }

  .cart-selection__container {
    display: grid;
    background-color: var(--color-secondary);
    width: 300px;
    max-height: 1350vh;
  }

  .cart-selection__box {
    align-items: center;
    width: auto;
  }
}

/* MENU */

.menu {
  margin-top: 5rem;
  padding-bottom: 0;
}

.menu__heading {
  text-align: center;
  margin-bottom: 5rem;
}

.menu__container {
  display: flex;
  justify-content: center;
  align-content: center;
  flex-wrap: wrap;
  gap: 10rem;
}

.menu__container:not(:last-child) {
  margin-bottom: 5rem;
}

.menu__product {
  border: 3px solid var(--color-accent);
  border-radius: 10px;
  max-width: 600px;
  overflow: hidden;
  position: relative;
}

.menu__image img {
  width: 100%;
}

.sizes {
  display: block;
  padding: 0 2rem;
  border-radius: 50px;
  background-color: var(--color-primary);
  position: absolute;
  top: 10px;
  right: 10px;
  color: #fff;
  max-width: 150px;
}

.sizes h4 {
  font-size: 1.5rem;
}

.menu__content {
  padding: 0 1rem 1rem 1rem;
}

.content__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2rem;
}

.menu__price {
  color: var(--color-accent);
}

.menu__btn {
  font-size: 1.6rem;
  padding: 1.2rem;
}

.menu__wrapper {
  display: block;
}

@media screen and (min-width: 768px) {
  .sizes {
    padding: 0 3rem;
  }

  .sizes h4 {
    font-size: 2rem;
  }

  .menu__btn {
    font-size: 2rem;
    padding: 1rem 2rem;
  }

  .menu__content {
    padding: 0 2rem 2rem 2rem;
  }
}

@media screen and (min-width: 1024px) {
  .menu__wrapper {
    display: flex;
    justify-content: space-between;
    margin-bottom: 2rem;
  }

  .menu__heading {
    text-align: left;
  }

  .menu__product {
    max-width: 400px;
  }

  .cart-selection__container {
    height: 100vh;
    padding-bottom: 9rem;
  }

  .cart-selection__container::-webkit-scrollbar-track-piece:start {
    margin-top: 10px;
  }
  
  .cart-selection__container::-webkit-scrollbar-track-piece:end {
    margin-bottom: 10px;
  }
}

/* CART MODAL */

.overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: rgb(0, 0, 0, 0.75);
  z-index: 1001;
  justify-content: center;
  align-items: center;
  overflow-y: scroll;
}

.overlay.active {
  display: flex;
}

.cart__modal {
  background-color: var(--color-accent);
  border-radius: 20px;
  max-width: 1000px;
  max-height: 1000px;
  padding: 3rem 5rem;
  position: relative;
  animation-name: modalPopUp;
  animation-duration: 0.2s;
}

.modal__heading {
  position: relative;
}

.modal__title {
  text-align: center;
}

.modal__badge {
  background-color: var(--color-primary);
  border-radius: 50px;
  position: absolute;
  top: 25px;
  left: -2%;
  padding: 0 2rem;
  color: #fff;
  display: none;
}

.modal__badge h4 {
  font-size: 1.6rem;
}

.modal__container {
  gap: 2.5rem;
}

.modal__image {
  max-width: 400px;
  max-height: 400px;
  justify-self: center;
  align-items: center;
}

.modal__image img {
  width: 100%;
  border-radius: 20px;
  height: 100%;
  object-fit: cover;
}

.modal__close:hover {
  color: var(--color-secondary);
}

.modal--icon {
  margin-right: 1rem;
}

.modal__pricing {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-bottom: 2rem;
}

.modal__text {
  margin-bottom: 2rem;
}

.modal__quantity {
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn__quantity {
  margin: 0 1.5rem;
}

.modal__btn {
  margin-bottom: 2rem;
}

.modal__close {
  position: absolute;
  top: 10px;
  right: 15px;
  font-size: 3rem;
  cursor: pointer;
  transition: 0.3s ease-out;
}

.modal__wrapper {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
}

.modal__choose {
  margin-bottom: 1rem;
}

.modal__size {
  display: flex;
  gap: 0 2rem;
}

.modal__radio {
  cursor: pointer;
  border: 0;
  width: 20px;
  accent-color: var(--color-accent);
}

.modal__radio,
.modal__label {
  margin-bottom: 1.2rem;
}

.cart--icon {
  position: fixed;
  bottom: 40px;
  right: 40px;
  background-color: var(--color-primary);
  padding: 2.5rem;
  border-radius: 100%;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--color-link);
  font-size: 2.3rem;
  cursor: pointer;
  box-shadow: 0 0 10px #000;
  transition: 0.3s ease-out;
}

.cart--icon:hover {
  box-shadow: 0 0 15px #000;
  background-color: var(--color-accent);
}

@media screen and (max-width: 400px) {
  .overlay {
    padding: 0;
  }

  .cart__modal {
    padding: 3rem 1rem 1rem 1rem;
  }

  .modal__pricing {
    margin-bottom: 1.5rem;
  }

  .modal__title,
  .modal__text {
    font-size: 1.5rem;
    margin-bottom: 1.5rem;
  }

  .modal__btn {
    font-size: 1.2rem;
  }

  .modal__choose,
  .modal__label {
    font-size: 1.6rem;
  }

  .modal__close {
    top: 5px;
    font-size: 1.7rem;
  }
}

@media screen and (max-width: 767px) {
  @media (orientation: landscape) {
    .cart__modal {
      margin-top: auto;
    }
  }
}

@media screen and (min-width: 768px) {
  .cart--icon {
    bottom: 60px;
    right: 60px;
  }

  .cart__modal {
   
  }
}

@media screen and (min-width: 1400px) {
  .cart--icon {
    bottom: 90px;
    right: 100px;
  }
}

@keyframes modalPopUp {
  0% {
    transform: scale(1.01);
  }

  25% {
    transform: scale(0.97);
  }

  50% {
    transform: scale(1.05);
  }

  75% {
    transform: scale(1.03);
  }

  100% {
    transform: scale(1);
  }
}

/* CART */

.cart-menu {
  position: fixed;
  bottom: 0;
  right: -500px;
  height: 100%;
  z-index: 1001;
  background-color: var(--color-accent-2);
  box-shadow: 0 -100px 40px var(--color-body);
  max-width: 500px;
  width: 100%;
  overflow-y: scroll;
  transition: 0.2s ease-out;
}

.cart-menu.active {
  right: 0;
}

.cart-menu::-webkit-scrollbar {
  width: 20px;
}

.cart-menu::-webkit-scrollbar-track {
  background-color: rgb(245, 159, 0);
}

.cart-menu::-webkit-scrollbar-thumb {
  background-color: var(--color-accent);
  border-radius: 20px;
}

.cart__heading,
.cart__title {
  text-align: center;
  margin-top: 5rem;
}

.cart__wrapper {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 5rem;
}

.cart__box {
  width: 100%;
  border-bottom: 2px solid var(--color-accent);
  padding-bottom: 2rem;
}

.cart__image img {
  width: 100%;
}

.cart__content {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.cart__quantity {
  display: flex;
  justify-content: center;
  align-items: center;
}

.cart__btn {
  margin: 0 1.5rem;
}

.cart__remove i {
  color: rgb(236, 38, 38);
  cursor: pointer;
}

.cart__close i {
  position: absolute;
  top: 20px;
  right: 20px;
  cursor: pointer;
  color: #000;
}

/* ALERT MODAL */

.alert__overlay {
  display: none;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: rgb(0, 0, 0, 0.75);
  z-index: 1005;
}

.alert__overlay.active {
  display: flex;
}

.alert__modal {
  max-width: 700px;
  max-height: 500px;
  width: 100%;
  height: 100%;
  background-color: #fff;
  padding: 3rem 5rem;
  border-radius: 20px;
  animation-name: modalPopUp;
  animation-duration: 0.2s;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.alert__image {
  font-size: 10rem;
  margin-bottom: 2rem;
}

.alert__check {
  color: rgb(133, 214, 12);
}

.alert__x {
  color: rgb(167, 15, 15);
}

.alert__text {
  font-size: 3rem;
  text-align: center;
}

.alert__close {
  position: absolute;
  top: 10px;
  right: 15px;
  cursor: pointer;
}

.alert__close:hover {
  color: var(--color-accent);
}

/* SIGN IN */

.input__heading {
  text-align: center;
}

.si-input__form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border: 2px solid var(--color-accent-2);
  max-width: 500px;
  margin: 0 auto;
  padding: 3rem;
}

.input__group {
  position: relative;
  max-width: 350px;
  width: 100%;
  margin: 0 auto;
}

.input__field {
  padding: 1.5rem;
  border-radius: 50px;
  margin: 3rem 0;
  border-color: var(--color-accent);
  color: var(--color-primary);
  width: 100%;
  font-weight: 600;
}

.input__label {
  position: absolute;
  top: 0;
  left: 0;
}

.input__submit {
  padding: 1.5rem 4rem;
  font-size: 1.8rem;
  box-shadow: none;
  text-transform: uppercase;
}

.input__text {
  margin-top: 2rem;
  text-align: center;
}

@media screen and (min-width: 768px) {
  .input__submit {
    padding: 1.5rem 10rem;
  }
}

/* SIGN UP */

.su-input__form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border: 2px solid var(--color-accent-2);
  max-width: 800px;
  margin: 0 auto;
  padding: 1rem;
}

.form__container {
  width: 80%;
  gap: 4rem;
}

/* DEALS */

.deals {
  background-color: var(--color-link);
}

.deals__heading {
  text-align: center;
}

.deals__wrapper {
  background-color: var(--color-secondary);
  margin-bottom: 5rem;
}

.deals__wrapper:nth-child(even) .deals__image {
  order: 2;
}

.deals__image {
  max-width: 600px;
  overflow: hidden;
  width: 100%;
  justify-self: center;
  z-index: 2;
}

.deals__image img {
  width: 100%;
  border-radius: 50px;
}

.deals__text {
  margin-bottom: 5rem;
}

@media screen and (min-width: 768px) {
  .deals__container {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    gap: 10rem;
  }
}

/* TERMS */

.terms {
  background-color: var(--color-accent);
}

.terms__heading {
  text-align: center;
  margin-bottom: 5rem;
}

.terms__container {
  background-color: var(--color-link);
  border-radius: 50px;
  height: 100vh;
  padding: 5rem;
  text-align: center;
}

/* FOOTER */

footer {
  border-top: 5px solid var(--color-accent);
  text-align: center;
}

.footer__image {
  text-align: center;
  margin: 2rem 0;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  align-items: center;
}

.kfc-iflg {
  width: 200px;
  margin-bottom: 2rem;
}

.footer__logo img {
  width: 200px;
}

.footer__links {
  display: flex;
  flex-direction: column;
}

.footer__link {
  margin: 0.5rem 0;
}

.footer__container {
  display: flex;
  justify-content: space-between;
}

.footer__copyright {
  margin-top: 2rem;
  align-self: center;
}

.footer__icon {
  color: #fff;
  background-color: var(--color-primary);
  padding: 1rem;
  margin: 0.2rem;
  border-radius: 100%;
}

.footer__icon:hover {
  background-color: var(--color-accent);
}

@media screen and (min-width: 768px) {
  footer {
    text-align: left;
  }

  .footer__image {
    flex-direction: row;
  }

  .kfc-iflg {
    width: 300px;
  }

  .footer__logo img {
    width: 300px;
  }
}
